<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" href="#">
     <img src="../assets/celebal.png" alt="Logo" style="width:80px;">
   </a>
   ...
 </nav>
 <!-- <div class="card-block mt-20px">  -->
    <div style="padding: 60px 300px" >
        <div class="col" style="padding: 10px 180px;">
    <mdb-card>
    <mdb-card  class="mx-5  " cascade="true" class="text-center" style="max-width: 100rem">
        <mdb-card-body>
      <!--Header-->
      <!--Header-->

    
      <!--Header-->
      <mdb-card-body class="mx-4">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
         
          <table class="table">

            
          <div class="md-form">

            <textarea type="text" id="form106" class="md-textarea form-control margin margin2" rows="2" mdbInput
              formControlName="Question1"></textarea>
            <label for="form107" class="margin">Question1</label>
          </div>
          <div>
            
          </div>
             
          <div class="md-form">

            <textarea type="text" id="form107" class="md-textarea form-control margin margin2" rows="2" mdbInput
              formControlName="Question2"></textarea>
            <label for="form107" class="margin">Question2</label>
          </div>
             
          <div class="md-form">

            <textarea type="text" id="form108" class="md-textarea form-control margin margin2" rows="2" mdbInput
              formControlName="Question2"></textarea>
            <label for="form107" class="margin">Question3</label>
          </div>
          
          <div class="row d-flex align-items-center mb-3 mt-4">

            <!--Grid column-->
            <div class="col-md-12">
              <div class="text-center">
                <button type="submit" mdbBtn color=" dark orange" rounded="true"
                  class="z-depth-1a  waves-effect button ">Submit</button>
              </div>
            </div>
            <!--Grid column-->

          </div>
          
        </table>  
          <!--Grid row-->
         
        </form>
        <!--Grid row-->
          
      </mdb-card-body>
    </mdb-card-body>
    </mdb-card>
</mdb-card>
</div>
</div>
 
